.row{
    padding: 15px;

}


h1,h3{
    display: inline;
}

.table {
    font-size: 35px;
}

.mi-componente {
    border: 3px solid #000; /* Color y grosor del borde */
    border-radius: 5px; /* Bordes redondeados */
    position: relative;
    transition: all 0.2s ease; /* Smooth transition for open/close */
    max-height: 0; /* Initially closed */
    overflow: hidden; /* Hide content when closed */
    opacity: 0; /* Initially invisible */
    margin-left: 200px; /* Reserve space on the left-hand side */
}

.mi-componente.open {
    max-height: 500px; /* Adjust to the content's height */
    opacity: 1; /* Fully visible when open */
    padding: 15px; /* Adjust padding when open */
}

.mi-componente.closed {
    max-height: 0;
    opacity: 0;
    padding: 0; /* No padding when closed */
}

@media (max-width: 768px) {
    .mi-componente {
        margin-left: 120px; /* Reserve space on the left-hand side */
        max-height: none; /* Unlock height to fit content */
        overflow: visible; /* Ensure all content is shown */
    }

    .mi-componente.open {
        max-height: none; /* Allow content to expand naturally */
    }

    .mi-componente.closed {
        max-height: 0; /* Retain closed state behavior */
        overflow: hidden; /* Hide content when closed */
    }

    .table {
        width: auto;
        font-size: 15px;
        display: flex;
        flex-direction: column; /* Hace que los elementos se apilen verticalmente */
        align-items: center; /* Centra los elementos */
    }
}