<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/FotoPerfil.jpg" class="img-fluid" id="FotoDePerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Baltazar Ponce</p>
        <p id="nivel">Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. Illo laboriosam reiciendis 
                molestiae obcaecati? Nulla doloremque eligendi tenetur
                molestiae tempora quam nisi quos sed reiciendis
                sint, sunt, minus omnis dignissimos. Alias.
                </p>
        </span>
    </div>
</div>
