<div class="global-background mi-componente" [ngClass]="{ 'open': isOpen, 'closed': !isOpen }">

    <!-- Edit Button -->
    <div class="row">
        <button type="button" class="btn btn-primary" routerLink="/editacercade/2" *ngIf="isLogged">
            Editar datos personales
        </button>
    </div>

    <!-- Profile Picture -->
    <div class="row">
        <div class="col-12 text-center">
            <img src="{{persona.img}}" class="img-fluid" id="FotoDePerfil">
        </div>
    </div>

    <!-- Name and Level -->
    <div class="row">
        <div class="col-12 text-center">
            <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
            <p id="nivel">Estudiante de Ingenieria en Inteligencia Artificial</p>
        </div>
    </div>

    <!-- About Me Section -->
    <div class="row">
        <div class="col-12">
            <div class="acercade text-center">
                <h1>Acerca de mí</h1>
                <p>{{persona.descripcion}}</p>
            </div>
        </div>
    </div>

</div>
