<div class="global-background mi-componente"
[ngClass]="{ 'open': isOpen, 'closed': !isOpen }" >

    <div class="row">

        <button type="button" class="btn btn-primary" routerLink="/editacercade/2" *ngIf="isLogged">Editar datos
            personales</button>

        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src={{persona.img}} class="img-fluid" id="FotoDePerfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">{{persona.nombre}} {{persona.apellido}} </p>
            <p id="nivel">Estudiante de Ingenieria en Inteligencia Artificial</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div class="acercade">
                <span>
                    <h1>Acerca de mí</h1>
                    <p>{{persona.descripcion}}</p>
                </span>
            </div>
        </div>
    </div>

</div>