<div class="global-background mi-componente"
     [ngClass]="{ 'open': isOpen, 'closed': !isOpen }">
    <div class="row">
        <h1>Proyectos realizados</h1>

        <div *ngFor="let container of containers; let i = index" 
             class="container"
             [hidden]="currentIndex !== i">
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h1 class="titulo">{{ container.title }}</h1>
                <h2 class="subtitulo" *ngIf="container.subtitle">{{ container.subtitle }}</h2>
                <p class="descripcion">{{ container.description }}</p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <img [src]="container.image" class="img-fluid" alt="Project image">
            </div>
        </div>

        <button class="btn" (click)="nextContainer()">Next</button>
    </div>
</div>
